{{#animated-each this.ships use=this.transition duration=400 key="id" watch="style" as |ship|}}
  <div class="ship" style={{ship.style}} >
    <img src={{ship.shipImage}} />
  </div>
{{/animated-each}}
