#gamecanvas {
  height: 500px;
  width: 500px;
}

.gameboard {
  position: relative;
}

figure {
  text-align: left;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

}
section>* {
  margin-left: auto;
  margin-right: auto;
}

figure > canvas {
  //flex: 1 1 0;
  margin: 0;
}


// Transports
.ship {
  position: absolute;
  img {
    height: 60px;
  }
}
