body {
  margin:0;
  padding:0;
}

#concreteContainer > canvas, #gamecanvas, #hexcanvas, #mousecanvas {
  height: 500px;
  width: 500px;
  //position: absolute;
  //top: 0;
  //left: 0;
}

#gamecanvas {
  z-index: 150;
}
#hexcanvas {
  z-index: 200;
}
#mousecanvas {
  z-index: 300;
}

.gameboard {
  position: relative;
}
.debugWrapper {
  //position: absolute;
  //left:0;
  //bottom: 50px;
}

.hideTiles {
  display: none;
}

figure {
  text-align: left;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

}
section>* {
  margin-left: auto;
  margin-right: auto;
}

figure > canvas {
  //flex: 1 1 0;
  margin: 0;
}


// Transports
.ship {

  //display:none;

  position: absolute;
  img {
    height: 42px;
  }
}
