body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  height: 100%;
  background-color: antiquewhite;
  background-image: url("/images/paper_texture1.jpg");
}

.header {
  margin: 0 0 0 20px;
}

#large-container {
  width: 3000px;
  height: 3000px;
  overflow: hidden;
}

#konvaContainer {
  position: relative;
  margin: 20px;
  min-height: 440px;
  //background-color: #000;
}

#scroll-container {
  width: calc(100% - 22px);
  height: calc(60vh - 22px);
  overflow: auto;
  margin: 10px;
  border: 1px solid grey;
}


.pickMap {
  width: 200px;
  position: absolute;
}

.debugWrapper {
  margin: 5px;

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .col {
    float: left;
    //width: 24%;
    &.label {
      text-align: right;
      margin-right: 10px;
    }
    div {
      margin-bottom: 10px;
      white-space: nowrap;
    }
  }
}

button {
  padding: 5px;
}

@import "ember-power-select";
