<div class="hexwrapper">
  <div id="scroll-container">
    <div id="large-container">
      {{!#if this.mapService.tilesLoaded}}
      <figure id="konvaContainer" />
      {{!/if}}
    </div>
  </div>
</div>