<div class="hexwrapper">
  <div id="scroll-container">
    <div id="large-container" {{style minWidth=@backgroundImageWidth}} {{style minHeight=@backgroundImageHeight}}>
      <figure id="konvaContainer" />
    </div>
  </div>
</div>