<div class="game">
  <div class="header">
    <h2>GeoQuest - Octane</h2>
  </div>
  <div class="instructions">
    <p>
      <LinkTo @route="play">Click here to play</LinkTo>
    </p>
    <p>
      <h3>Instructions</h3>
      <div>Moving:</div>
      <ul>
        <li>Q: Northwest</li>
        <li>A: Southwest</li>
        <li>W: North</li>
        <li>S: South</li>
        <li>E: Northeast</li>
        <li>D: Southeast</li>
      </ul>
    </p>
    <p>
      <div>Click the mouse to fire.</div>
    </p>

  </div>
</div>
